{% extends "AppMundial/padre.html" %}
{% load static %}
{% block titulo_de_pagina %} 
<h1 class="mb-5">PAISES</h1>
{% endblock %}

{% block contenidoquecambia %}
<h1>Contenido de PAISES</h1>

<div class="container">
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'paisesFormulario' %}">CARGAR PAIS</a>
    <a class="btn btn-outline-danger btn-sm" href="{% url 'busquedaPxC' %}">BUSCAR PAIS POR CONTINENTE</a>
    <a class="btn btn-outline-danger btn-sm" href="{% url 'busquedaPxG' %}">BUSCAR PAIS POR GRUPO</a>
</div>

{% endblock %}